<!doctype html>
<html lang="{{ site.locale }}">
  <head>
    {% render "head", metadata: site.metadata, title: data.title %}
  </head>
  <body class="{{ data.layout }} {{ data.page_class }}">
    {% render "navbar", metadata: site.metadata, resource: resource %}

    <main class="bg-red-500">
      {{ content }}
    </main>

    {% render "footer", metadata: site.metadata %}
  </body>
</html>
