---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="flex flex-col gap-4">
      {%- for post in site.posts -%}
      <li class="rounded bg-white mb-2 shadow hover:shadow-md overflow-hidden">
        <a href="{{ post.url | relative_url }}" class="flex text-gray-800">
          <time datetime="{{ post.date }}" class="px-2 py-1 text-xs bg-gray-700 text-white text-center">
            <span class="block">
              {{ post.date | date: "%-b %-d" }}
            </span>

            <span class="block">
              {{ post.date | date: "%-Y" }}
            </span>
          </time>

          <span class="px-4 py-2 text-black">
            {{ post.title | escape }}
          </span>
          <!-- {%- if site.show_excerpts -%} -->
          <!-- {{ post.excerpt }} -->
          <!-- {%- endif -%} -->
        </a>
      </li>
      {%- endfor -%}
    </ul>

    <p class="text-black">
      <span>subscribe</span>
      <a class="underline text-black" href="{{ "/feed.xml" | relative_url }}">
        via RSS
      </a>
    </p>
  {%- endif -%}

</div>
